*{
  border: 1px solid red;

}

@font-face{
	font-family:'Crisp';
	src:url('../font/walken-crisp/tt/walken crisp.ttf');
}
.bug-Title{
	font-family:Crisp;
}
body {
  text-align: center;
}

p {
  margin: 0;
}

canvas{
border: 3px solid black;
border-radius:10%;

}

